*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  font-family: 'Poppins', sans-serif;
  
}


main{
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-image: url("todd-trapani-6vXQrXVFXjI-unsplash.jpg");
background-repeat: no-repeat;
color: yellow;

background-size: cover;

}


.maincontainer{

background-color:rgba(12, 12, 12, 0.4);
display: grid;
justify-content: center;
align-items: center;
width: 50vh;
height: 50vh;

border-radius: 20px;
color: rgba(217, 247, 237,0.7);
}

input{
cursor: pointer;
/* k */

font-size: 20px;
padding: 15px;

background-color: rgba(217, 247, 237,0.7);;
color: black;
border-radius: 30px;
outline: none;

}
@media (max-width: 800px) {
  
  input{
    width:auto;

  }
  .container{
    font-size: 10px;
    margin-left: 20px;
  }
  
}

